<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example</title>

    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- <script src="libs/jquery/jquery.js"></script> -->

    <script src="script_jquery.js"></script>

    <style>
        #xinchao_1 {
            color: green;
        }

        #div_exam {
            background-color: white;

            /* transition: all;
            transition-duration: 2s; */
            display: none
        }

        .collapse {
            height: 50px;
        }

        .expand {
            height: 200px;
        }


        .color-blue {
            color: blue;
        }
    </style>
</head>

<body>

    <!-- <span>Text 1</span> <br><br><br><br>

    <span>
        <b>Text bold</b>
        <strong>Text bold</strong>
        <i>Italic text</i>
    </span>
    <hr>
    <center><span>Text 2</span></center>

    <pre>
            function testFunction( strText ) {
                alert (strText)
            }
    </pre>

    <a href="http://www.google.com.vn" target="_blank">Google</a>

    <audio controls>
        <source src="https://www.w3schools.com/tags/horse.mp3" type="audio/mpeg">
    </audio>

    <video src="https://www.w3schools.com/tags/movie.mp4" width="330" height="200" controls>
        
    </video>

    <form>
        <span>Email</span>
        <input type="text" value="email@gmail.com"/><br>
        <span>Password</span>
        <input type="password"/><br>
        <button>Login</button>
        <input type="button" value="Register">
    </form>

    <table border="1">
        <tr>
            <th>header 1</th>
            <th>header 2</th>
        </tr>
        <tr>
            <td>data header 1</td>
            <td rowspan="2">data header 2</td>
        </tr>
        <tr>
            
                <td><s>data</s> header H<sub>2</sub>0</td>
            </tr>
    </table> -->

    <!-- <h1 id="tieude1">Tieu de 1</h1>
    <h1 class="class_tieude2">Tieu de 2</h1>
    <h1 class="class_tieude3">Tieu de 3</h1>

    <div class="class_div1">
        <h1>Tieu de 4</h1>
        <div>
            <h1 class="mau_nen_xanh">Tieu de 5</h1>
        </div>
    </div>

    <h2 class="mau_xanh mau_nen_xanh">The nay cua h2</h2>
    <h3 class="mau_xanh">The nay cua h3</h3>


    
    <div id="div1">
        <div>
            <h6>Thẻ này có màu xanh lá cây</h6>
        </div>
        <h6>Thẻ này có màu đỏ</h6>
    </div>

    <div class="margin-example">

    </div> -->

    <!-- <div class="hello">Xin chao anh em</div> -->


    <!-- <div class="parent">
        <div class="children">

        </div>
        <div class="child-2">

        </div>
    </div>


    <input type="text"> -->





    <!-- <div class="parent">
        <div class="div-left">Cho toi nam ben trai nhe</div>
        <div class="div-right">Cho toi nam ben phai nhe</div>
        <div class="clear-float"></div>
</div>
    
<div style="background-color: green">
    <h1>Bao thanh nien</h1>
</div>


<div>div 1</div>
<div>div 2</div>
<span>paragraph 1</span>
<span>paragraph 2</span> -->

    <!-- <div class="example_bg_attachment">

</div> -->


    <!-- JAVASCRIPT EXAMPLES -->
    <input id="tendouong_input" type="text">
    <button onclick="hienThiGiaTien()">Hien thi gia tien</button>
    <p id="ketqua"></p>


    Nhập vào chiều cao của bạn:
    <input type="text" id="input_chieucao">
    <br>
    <button onclick="inChieuCao()">In ra chieu cao</button>

    <br>
    <br> Nhap vao so n:
    <input type="text" id="input_son">
    <br>
    <button onclick="inKetqua()">In ket qua</button>
    <p id="p_ketqua">{{ketqua}}</p>

    Bai 1
    <br> Nhap ten dien thoai:
    <input type="text" id="input_dienthoai">
    <button onclick="themDienthoai()">Them</button>
    <!-- <ul id="danhsach_dienthoai">

    </ul> -->

    <input type="text" id="input_chuoi">
    <button onclick="timChuoiDaiNhat()">In ket qua</button>


    <!-- Jquery Example -->
    <input id="ten_nguoi" type="text">
    <button id="btn_hienthi">Hien thi ten nguoi</button>
    <p id="ket_qua_ten_nguoi"></p>


    <p id="xinchao_1">Xin chao cac em 1</p>
    <p id="xinchao_2">Xin chao cac ban 2</p>
    <button id="doimau_xinchao">Doi mau</button>


    <br>
    <select id="myselect">
        <option value="1">Option-1</option>
        <option value="2">Option-2</option>
        <option value="3">Option-3</option>
    </select>

    <form action="">
        <input type="radio" name="sex" value="male">Male
        <br>
        <input type="radio" name="sex" value="female">Female
    </form>


    <div id="div_exam" class="collapse">

    </div>
    <button id="doikichthuoc">Thay doi kich thuoc</button>



    <!-- Bai 11 -->
    <div id="bai11">
        <p>Tieu de</p>
        <div id="noidung">
            <p>Noi dung bai 11</p>
        </div>
    </div>
    <p>bai khac</p>


    <ul>
        <li>Html Tutorial</li>
        <li>Mongodb Tutorial</li>
        <li>Python Tutorial</li>
    </ul>


    <div id="div1" class="divclass"></div>
    <div id="div2" class="divclass"></div>
    <div id="div1"></div>

    <input id="field1" type="text" value="Field 1">
    <input id="field2" type="text" value="Field 2">

    <br>
    <input type="text" id="input_test">
    <p id="ketqua_test"></p>

    <p id="click_timer">Click Timer</p>

</body>

<!-- <script src="script.js"></script> -->

</html>