/* Style */
h1 {
    color: red !important;
}

h1 {
    color: blue;
}
/* #tieude1 {
    color: green;
} */

body {
    background-color: green;
}

.class_tieude2 {
    color: blue;
}

.class_tieude2, .class_tieude3 {
    font-size: 60px;
}

.class_div1 h1 {
    font-size: 12px;
}

.class_div1 > h1 {
    background-color: orange;
}

h2.mau_xanh {
    color: red;
}

.mau_nen_xanh {
    background-color: green;
}






#div1 > h6 {
    color: red;
}

#div1 {
    color: green;
}

.margin-example {
    width: 380px;
    height: 300px;
    background-color: green;
}

















.parent {
    background-color: blue;
}

.div-left {
    width: 150px;
    height: 50px;
    background-color: orange;
    float: left;
}
.div-right {
    width: 200px;
    height: 100px;
    background-color: mediumturquoise;
    float: left;
}

.clear-float {
    clear: both;
}



.hello {
    background-color: orange;
    width: 300px;
    height: 100px;
}

/* .grand-parent {
    background-color: blue;
    width: 700px;
    height: 400px;
} */

.parent {
    background-color: green;
    width: 600px;
    height: 350px;
}

.children {
    background-color: red;
    width: 100px;
    height: 100px;
}

.child-2 {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.example_bg_attachment {
    width: 100%;
    height: 100vh;
    background-image: url('../demo/assets/82-1021x580.jpg');
    background-attachment: fixed;
}

@media (max-width: 500px) and (min-width: 300px) {
    body {
        background-color: fuchsia;
    }
}
