body {
    background-color: lightgrey;
    margin: 0;
}

header {
    background-color: #ffffff;
}

header .header-container {
    position: relative;
}

header .header-container .menu-btn {
    width: 40px;
    height: 40px;
    display: none;
    float: right;
}

.clear-float {
    clear: both;
}

header .header-container #header-logo {
    float: left;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

header .header-container #header-logo img {
    height: 40px;
    width: auto;
    object-fit: contain;
}

header .header-container #header-menu {
    float: left;
    margin-left: 160px;
}

header .header-container #header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

header .header-container #header-menu ul li {
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

header .header-container #header-menu ul li a {
    display: inline-block;
    padding: 13px 8px;
}

header .header-container #header-menu ul li:hover {
    color: white;
    background-color: palevioletred;
}

/* CSS Dropdown menu */
.dropdown {
    display: inline-block;
}
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 99;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropdown-content a {
    color: black;
    padding: 13px 8px;
    text-transform: uppercase;
    display: block !important;
    text-decoration: none;
}

.dropdown .dropdown-content a:hover {
    background-color: palevioletred;
    color: white;
}

#header-menu-test a {
    display: inline-block;
    padding: 13px 8px;
}
#header-menu-test a:hover {
    background-color: palevioletred;
    color: white;
}

#container {
    background-color: white;
    margin-top: 30px;
}

#container #image-slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#container #image-slider {
    position: relative;
}

.button-slider {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button-prev {
    background-image: url('assets/icon-left.png');
    left: 25px;
}

.button-next {
    background-image: url('assets/icon-right.png');
    right: 25px;
}

#main-content {
    padding: 15px;
}

#main-content #main-content-top h4 {
    display: inline-block;
    padding: 8px 30px;
    margin: 0;
    background-color: palevioletred;
    text-transform: uppercase;
    color: white;
    border: 3px solid black;
}

#main-content #main-content-top .prev-next-btn {
    float: right;
    margin-top: 8px;
}

.prev {
    background-position: center;
    background-image: url('assets/icon-left.png');
    background-size: contain;
    width: 30px;
    height: 23px;
    background-color: gray;
}

.next {
    background-position: center;
    background-image: url('assets/icon-right.png');
    background-size: contain;
    width: 30px;
    height: 23px;
    background-color: gray;
}

#main-content #main-content-center {
    margin: 15px 0;
}

.row-item {
    float: left;
    width: calc(100% / 3 - 30px);
}

.row-item-center {
    margin: 0 45px;
}

.car-item img {
    width: 100%;
    height: auto;
}

.car-item h4 {
    margin: 5px 0;
}

.car-item p {
    margin: 5px 0;
    font-size: 12px;
}

#main-content-bottom .pagination {
    float: left;
}

#main-content-bottom .page-number {
    float: right;
}

#main-content-bottom .page-number p {
    font-size: 13px;
    font-weight: bold;
}



/* CSS for footer */
footer #footer-top {
    background-color: gray;
    padding: 0 15px;
}

footer #footer-bottom {
    background-color: palevioletred; 
}

.ft-title {
    background-color: white;
    display: inline-block;
    padding: 5px 15px;
    text-transform: uppercase;
}

#ft-center .item {
    margin-bottom: 5px;
}

#ft-center .item img {
    width: 75px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

#ft-center .item .item-text {
    float: left;
    width: calc(100% - 85px);
    font-size: 10px;
}

#ft-center .item .item-text p {
    margin: 0;
    font-weight: bold;
}

.ft-right-text-item {
    margin-bottom: 5px;
}

.ft-right-text-item p {
    margin: 0;
}

.ft-right-text-item .main-title {
    float: left;
    width: 90%;
}

.ft-right-text-item .page-number {
    float: right;
}

.go-to-top {
    width: 50px;
    height: 50px;
    background-color: red;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 10px;
}

/* Responsive */
/* For mobile */
@media (max-width: 420px) {
    header .header-container #header-menu {
        display: none;
    }

    header .header-container .menu-btn {
        display: block;
    }
}